<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keystroke Monitoring Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Keystroke_Monitoring.css') }}">
</head>
<body>
    <div class="sidebar">
        <h2>ShadowNet</h2>
        <ul>
            <li><a href="{{ url_for('admin_dashboard') }}"><i class="fas fa-tachometer-alt"></i><span> Control Panel</span></a></li>
            <li><a href="{{ url_for('system_setup') }}"><i class="fas fa-cogs"></i><span> System Setup</span></a></li>
            <li><a href="{{ url_for('web_monitoring') }}"><i class="fas fa-eye"></i><span> Web Monitoring</span></a></li>
            <li><a href="{{ url_for('network_monitoring') }}"><i class="fas fa-network-wired"></i><span> Network Monitoring</span></a></li>
            <li><a href="{{ url_for('file_forensics') }}"><i class="fas fa-file-alt"></i><span> File Forensics</span></a></li>
            <li class="active"><a href="{{ url_for('keystroke_monitoring') }}"><i class="fas fa-keyboard"></i><span> Keystroke Monitoring</span></a></li>
          </ul>
          
    </div>
    <div class="main-content">
        <div class="header">
            <h1>Keystroke Monitoring</h1>
            <div class="top-right-rectangle" id="networkStatus">Safe</div>
        </div>
        
        <div class="table-wrapper">
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>IP Address</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Keystroke</th>
                            <th>Attack Type</th>
                        </tr>
                    </thead>
                    <tbody></tbody>

                </table>
            </div>
        </div>
        

        
        <script src="{{ url_for('static', filename='js/Keystroke_Monitoring.js') }}"></script>

</body>

</html>
